    <div id="footer">
        <p>2014 kanhuiqiu.com 所有权保留。</p>
        <p>有任何的建议和意见，都欢迎联络：<a href="mailto:advice@kanhuiqiu.com"> advice@kanhuiqiu.com</a> 看会球QQ群：183935369</p>
		<p><script language="javascript" type="text/javascript" src="http://js.users.51.la/16978449.js"></script>
<noscript><a href="http://www.51.la/?16978449" target="_blank"><img alt="&#x6211;&#x8981;&#x5566;&#x514D;&#x8D39;&#x7EDF;&#x8BA1;" src="http://img.users.51.la/16978449.asp" style="border:none" /></a></noscript>
		</p>
    </div>