    <div id="header">
        <div class="header-wrap">
            <a href="/"><div class="logo"></div></a>
            <div class="input-group">
				<FORM method="get" action="/s?">
					<input type="text" class="form-control" name="wd" value=""/>
					<span class="input-group-btn">
						<button class="btn btn-default" type="submit"></button>
					</span>
				</FORM>
            </div>
			<!--
            <ul class="team-logo">
                <li><a class="team-logo-one" href="#"></a></li>
                <li><a class="team-logo-two" href="#"></a></li>
                <li><a class="team-logo-three" href="#"></a></li>
                <li><a class="team-logo-four" href="#"></a></li>
            </ul>
            <div class="admin">
                <a class="admin-information" href="#">
                    admin
                </a>
                <span class="information-remind">3</span>
            </div>
			-->
        </div>
    </div>