<!DOCTYPE html>
<html>
<head>
    <title>{% $wd %} - 搜索结果 - 看会球</title>
    <meta charset="utf-8"/>
    <link href="/static/vendor/css/normalize.css" rel="stylesheet"/>
    <link href="/static/css/search-common.css" rel="stylesheet"/>
</head>
<body>
<div id="main">
	{% include file="header.html" %}
    <div id="content">
        <div class="search-key">
            <a class="search-key-link" href="#">{% $wd %}</a>
            <a class="search-result-amount" href="#">找到 {% $total_num %} 条结果</a>
        </div>
        <div class="search-result-video" id="result">
            <ul class="result-video-list">
			{% foreach item=video from=$video_list %}
                <li class="item video-item1">
                    <a class="video-link" href="{% $video.url %}" target="_blank">
                        <img src="{% $video.pic %}"/>
                    </a>
                    <a class="video-title-link" href="{% $video.url %}" target="_blank">
                        {% $video.title %}
                    </a>

                    <div class="data-praise-information">
                        <span class="data">{% $video.date %}</span>
                        <!--<a class="red-heart" href="#">5352</a>-->
                    </div>
                </li>
				{% /foreach %}
            </ul>
            <!--End of ul-->
        </div>
        <!-- End of search-result-video-->
        <div class="more-result">
            <a class="more-result-link" href="#">
                MORE
            </a>
        </div>
        <!-- end of more-result-->
    </div>
	{% include file="footer.html" %}
    <!--end of footer-->
</div>
<!-- <div class="cover-for-test"></div> -->
<script src="/static/vendor/jquery/jquery-2.0.3.js"></script>
<script src="/static/js/search-heightlight.js"></script>
<script>
    $(function(){
        $('#result a.video-title-link').searchHighlight( "{% $wd %}");
    });
</script>
</body>
</html>