<!DOCTYPE html>
<html>
<head>
    <title>search team</title>
    <meta charset="utf-8"/>
    <link href="./vendor/css/normalize.css" type="text/css" rel="stylesheet"/>
    <link href="./css/search-team.css" type="text/css" rel="stylesheet"/>
</head>
<body>
<div id="header">
    <div class="header-wrap">
        <div class="logo"></div>
        <div class="input-group">
            <input type="text" class="form-control" placeholder="  找你想要的比赛"/>
                <span class="input-group-btn">
                    <button class="btn btn-default" type="button"></button>
                </span>
        </div>
        <ul class="team-logo">
            <li><a class="team-logo-one" href="#"></a></li>
            <li><a class="team-logo-two" href="#"></a></li>
            <li><a class="team-logo-three" href="#"></a></li>
            <li><a class="team-logo-four" href="#"></a></li>
        </ul>
        <div class="admin">
            <a class="admin-information" href="#">
                admin
            </a>
            <span class="information-remind">3</span>
        </div>
    </div>
</div>
<div id="content">
<div class="team">
    <div class="team-recent-match">
        <a class="team-img" href="#" target="_blank">
            <img src="./imgs/search-team-logo.png" title="克里斯-保罗 Chris Paul" alt="克里斯-保罗 Chris Paul"/>
        </a>

        <div class="forenotice-match">
            <div class="today-match match-introduce">
                <div class="today-match-head match-head">
                    <span class="live-logo">Live</span>
                    <span class="">第4节-09:52</span>
                </div>
                <div class="match-team">
                    <img class="opponent-team opponent-team-a" src="./imgs/opponent-team.png"/>

                    <div class="score">
                        <span>82-90</span>
                    </div>
                    <img class="opponent-team opponent-team-b" src="./imgs/opponent-team.png"/>

                    <div class="match-link">
                        <a class="tracker statistics" href="#" target="_blank">技术统计</a>
                        <a class="tracker" href="#" target="_blank">赛程追踪</a>
                    </div>
                </div>

                <a class="broadcast-tv-link" href="#" target="_blank">
                    CCTV5广东电视台体育频道
                </a>

            </div>
            <div class="next-match match-introduce">
                <div class="next-match-head match-head">
                    <span class="time">星期日，11月17日8:00</span>
                </div>
                <div class="match-team">
                    <img class="opponent-team opponent-team-a" src="./imgs/opponent-team.png"/>

                    <div class="score">
                        <span>VS</span>
                    </div>
                    <img class="opponent-team opponent-team-b" src="./imgs/opponent-team.png"/>

                    <div class="match-link">
                        <a class="tracker" href="#" target="_blank">比赛前瞻</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="team-information">
        <p class="team-name">达拉斯小牛 Dallas Mavericks</p>
        <a class="attention" href="#"></a>

        <div class="team-field">
            <!--<img src="./imgs/basketball-field.png" title="basketball field" alt="basketball field"/>-->
            <div class="field-position position1">
                <img src="./imgs/teammate-position-head.png" />
                <p>肖恩-马里昂</p>
            </div>
            <div class="field-position position2">
                <img src="./imgs/teammate-position-head.png" />
                <p>肖恩-马里昂</p>
            </div>
            <div class="field-position position3">
                <img src="./imgs/teammate-position-head.png" />
                <p>肖恩-马里昂</p>
            </div>
            <div class="field-position position4">
                <img src="./imgs/teammate-position-head.png" />
                <p>肖恩-马里昂</p>
            </div>
            <div class="field-position position5">
                <img src="./imgs/teammate-position-head.png" />
                <p>肖恩-马里昂</p>
            </div>
            <div class="field-position position6">
                <img src="./imgs/teammate-position-head.png" />
                <p>肖恩-马里昂</p>
            </div>
        </div>
        <div class="teammate">
            <p>
                <span class="green-logo"></span>
                替补阵容
            </p>

            <div class="teammate-list-block">
                <a class="left-control" href="#"></a>

                <div class="teammate-list-wrap">
                    <ul class="teammate-list">
                        <li>
                            <a class="teammate-item" href="#" target="_blank">
                                <img src="./imgs/teammate.png"/>
                                <span class="mask"></span>
                                <span class="mask-name">克里斯-保罗 </span>

                            </a>
                        </li>
                        <li>
                            <a class="teammate-item" href="#" target="_blank">
                                <img src="./imgs/teammate.png"/>
                                <span class="mask"></span>
                                <span class="mask-name">克里斯-保罗 </span>
                            </a>
                        </li>
                        <li>
                            <a class="teammate-item" href="#" target="_blank">
                                <img src="./imgs/teammate.png"/>
                                <span class="mask"></span>
                                <span class="mask-name">克里斯-保罗 </span>
                            </a>
                        </li>
                        <li>
                            <a class="teammate-item" href="#" target="_blank">
                                <img src="./imgs/teammate.png"/>
                                <span class="mask"></span>
                                <span class="mask-name">克里斯-保罗 </span>
                            </a>
                        </li>

                    </ul>
                </div>

                <a class="right-control" href="#"></a>
            </div>
        </div>
    </div>
</div>
<div class="video-content">
    <div class="video-content-nav">
        <a class="nav-player-name">达拉斯小牛</a>
        <span></span>
        <a class="new-collection">最新集锦</a>
        <!--<span></span>-->
        <a class="nav-more">更多>></a>
    </div>
    <!-- End tab-nav-->
    <div class="video-content-main">
        <div class="video-block video-block-one ">
            <a class="left-control active"></a>

            <div class="video-list-wrap video-list-one">
                <ul class="video-list">
                    <li class="item">
                        <a class="video-link" href="#">
                            <img src="./imgs/index-video.png"/>
                        </a>
                        <a class="video-title-link" href="#">
                            鹈鹕三加时胜公牛集锦霍利迪2.6秒制胜一投
                        </a>

                        <div class="data-praise-information">
                            <span class="data">2013-12-03</span>
                            <a class="red-heart" href="#">5352</a>
                        </div>
                    </li>
                    <li class="item">
                        <a class="video-link" href="#">
                            <img src="./imgs/index-video.png"/>
                        </a>
                        <a class="video-title-link" href="#">
                            鹈鹕三加时胜公牛集锦霍利迪2.6秒制胜一投
                        </a>

                        <div class="data-praise-information">
                            <span class="data">2013-12-03</span>
                            <a class="red-heart" href="#">5352</a>
                        </div>
                    </li>
                    <li class="item">
                        <a class="video-link" href="#">
                            <img src="./imgs/index-video.png"/>
                        </a>
                        <a class="video-title-link" href="#">
                            鹈鹕三加时胜公牛集锦霍利迪2.6秒制胜一投
                        </a>

                        <div class="data-praise-information">
                            <span class="data">2013-12-03</span>
                            <a class="red-heart" href="#">5352</a>
                        </div>
                    </li>
                    <li class="item">
                        <a class="video-link" href="#">
                            <img src="./imgs/index-video.png"/>
                        </a>
                        <a class="video-title-link" href="#">
                            鹈鹕三加时胜公牛集锦霍利迪2.6秒制胜一投
                        </a>

                        <div class="data-praise-information">
                            <span class="data">2013-12-03</span>
                            <a class="red-heart" href="#">5352</a>
                        </div>
                    </li>
                    <li class="item">
                        <a class="video-link" href="#">
                            <img src="./imgs/index-video.png"/>
                        </a>
                        <a class="video-title-link" href="#">
                            鹈鹕三加时胜公牛集锦霍利迪2.6秒制胜一投
                        </a>

                        <div class="data-praise-information">
                            <span class="data">2013-12-03</span>
                            <a class="red-heart" href="#">5352</a>
                        </div>
                    </li>
                    <li class="item">
                        <a class="video-link" href="#">
                            <img src="./imgs/index-video.png"/>
                        </a>
                        <a class="video-title-link" href="#">
                            鹈鹕三加时胜公牛集锦霍利迪2.6秒制胜一投
                        </a>

                        <div class="data-praise-information">
                            <span class="data">2013-12-03</span>
                            <a class="red-heart" href="#">5352</a>
                        </div>
                    </li>
                </ul>
            </div>
            <a class="right-control"></a>
        </div>
        <!-- End video-list-one-->
        <!-- End video-block-one-->
        <span class="video-block-spacebar"></span>

        <div class="video-block video-block-two ">
            <a class="left-control"></a>

            <div class="video-list-wrap video-list-two">
                <ul class="video-list">
                    <li class="item">
                        <a class="video-link" href="#">
                            <img src="./imgs/index-video.png"/>
                        </a>
                        <a class="video-title-link" href="#">
                            鹈鹕三加时胜公牛集锦霍利迪2.6秒制胜一投
                        </a>

                        <div class="data-praise-information">
                            <span class="data">2013-12-03</span>
                            <a class="red-heart" href="#">5352</a>
                        </div>
                    </li>
                    <li class="item">
                        <a class="video-link" href="#">
                            <img src="./imgs/index-video.png"/>
                        </a>
                        <a class="video-title-link" href="#">
                            鹈鹕三加时胜公牛集锦霍利迪2.6秒制胜一投
                        </a>

                        <div class="data-praise-information">
                            <span class="data">2013-12-03</span>
                            <a class="red-heart" href="#">5352</a>
                        </div>
                    </li>
                    <li class="item">
                        <a class="video-link" href="#">
                            <img src="./imgs/index-video.png"/>
                        </a>
                        <a class="video-title-link" href="#">
                            鹈鹕三加时胜公牛集锦霍利迪2.6秒制胜一投
                        </a>

                        <div class="data-praise-information">
                            <span class="data">2013-12-03</span>
                            <a class="red-heart" href="#">5352</a>
                        </div>
                    </li>
                    <li class="item">
                        <a class="video-link" href="#">
                            <img src="./imgs/index-video.png"/>
                        </a>
                        <a class="video-title-link" href="#">
                            鹈鹕三加时胜公牛集锦霍利迪2.6秒制胜一投
                        </a>

                        <div class="data-praise-information">
                            <span class="data">2013-12-03</span>
                            <a class="red-heart" href="#">5352</a>
                        </div>
                    </li>
                    <li class="item">
                        <a class="video-link" href="#">
                            <img src="./imgs/index-video.png"/>
                        </a>
                        <a class="video-title-link" href="#">
                            鹈鹕三加时胜公牛集锦霍利迪2.6秒制胜一投
                        </a>

                        <div class="data-praise-information">
                            <span class="data">2013-12-03</span>
                            <a class="red-heart" href="#">5352</a>
                        </div>
                    </li>
                    <li class="item">
                        <a class="video-link" href="#">
                            <img src="./imgs/index-video.png"/>
                        </a>
                        <a class="video-title-link" href="#">
                            鹈鹕三加时胜公牛集锦霍利迪2.6秒制胜一投
                        </a>

                        <div class="data-praise-information">
                            <span class="data">2013-12-03</span>
                            <a class="red-heart" href="#">5352</a>
                        </div>
                    </li>
                </ul>
            </div>
            <!-- End video-list-one-->
            <a class="right-control"></a>
        </div>
        <!-- End video-block-two-->
    </div>
    <!--End tab-content-->
</div>
</div>
<div id="footer">
    <div class="footer-wrap">
        <p>2013年著作权 NBA Hong Kong Operations Limited 所有权保留。</p>

        <p><a href="http://china.nba.com/" target="_blank">NBA.com/China</a>上除去使用条款中所特别提及的部分之外，其它任何内容都不得以任何形式被复制、再传播，或篡改。
        </p>

        <p>进入NBA.com/China后，即表示阁下同意遵守<a href="http://china.nba.com/" target="_blank">NBA.com/China</a>的隐私政策和使用条款。</p>

        <p>有任何的建议和意见，都欢迎联络我们：<a href="http:\\NBAChinaInfo@nba.com"> NBAChinaInfo@nba.com</a></p>
    </div>
</div>

<!-- <div class="cover-for-test"></div> -->
</body>
</html>