/*this less file*/
body {
  background-color: #f0f4f6;
}
.cover-for-test {
  position: absolute;
  top: 0;
  background: url("../imgs/search-team-bg.png") no-repeat center top;
  opacity: 0.4;
  left: 50%;
  width: 1440px;
  margin-left: -720px;
  height: 1475px;
}
#header {
  margin: 0 auto;
  height: 60px;
  background-color: #ffffff;
  box-shadow: 0 0 5px;
}
#header .header-wrap {
  width: 1210px;
  height: 60px;
  margin-left: 76px;
}
#header .header-wrap .logo {
  display: inline-block;
  float: left;
  width: 141px;
  height: 50px;
  margin-top: 11px;
  background: url("../imgs/basketball-icon.png") no-repeat 0 0;
}
#header .header-wrap .input-group {
  display: inline-block;
  position: relative;
  float: left;
  width: 413px;
  margin-left: 53px;
  height: 60px;
}
#header .header-wrap .input-group .form-control {
  display: block;
  width: 364px;
  height: 31px;
  margin-top: 11px;
}
#header .header-wrap .input-group .input-group-btn {
  position: absolute;
  right: 0;
  top: 0;
  display: block;
  width: 45px;
  height: 38px;
  margin-left: -10px;
  margin-top: 11px;
  padding: 0;
  border: 0;
}
#header .header-wrap .input-group .input-group-btn .btn {
  width: 47px;
  height: 37px;
  padding: 0;
  border: 0;
  background: url("../imgs/basketball-icon.png") no-repeat -600px 0;
}
#header .header-wrap .team-logo {
  display: inline-block;
  float: left;
  width: 260px;
  height: 60px;
  padding: 0;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 34px;
  list-style: none;
}
#header .header-wrap .team-logo li {
  float: left;
  margin-left: 15px;
  margin-top: 6px;
}
#header .header-wrap .team-logo li a {
  display: block;
  width: 44px;
  height: 43px;
}
#header .header-wrap .team-logo li a.team-logo-one {
  background: url("../imgs/basketball-icon.png") no-repeat -200px 0;
}
#header .header-wrap .team-logo li a.team-logo-two {
  background: url("../imgs/basketball-icon.png") no-repeat -300px 0;
}
#header .header-wrap .team-logo li a.team-logo-three {
  background: url("../imgs/basketball-icon.png") no-repeat -400px 0;
  margin-left: -1px;
  margin-top: -1px;
}
#header .header-wrap .team-logo li a.team-logo-four {
  background: url("../imgs/basketball-icon.png") no-repeat -500px 0;
  margin-left: 6px;
  margin-top: -1px;
}
#header .header-wrap .admin {
  display: inline-block;
  float: right;
  position: relative;
  width: 105px;
  height: 34px;
  margin-top: 12px;
  margin-right: 10px;
  padding-top: 1px;
  border: 1px solid #ececec;
}
#header .header-wrap .admin .admin-information {
  display: block;
  width: 50px;
  height: 36px;
  font-family: Arial;
  font-size: 14px;
  color: #b9b9b9;
  line-height: 34px;
  text-decoration: none;
  padding-left: 49px;
  background: url("../imgs/padding-image.png") no-repeat -300px -100px;
}
#header .header-wrap .admin .information-remind {
  display: block;
  width: 26px;
  height: 23px;
  position: absolute;
  top: -7px;
  right: -8px;
  background: url("../imgs/basketball-icon.png") no-repeat -700px 0;
  font-family: Arial;
  font-size: 14px;
  text-align: center;
  line-height: 23px;
  color: #f9d9de;
}
#content {
  width: 1179px;
  margin-left: 78px;
}
#content .team {
  width: 1177px;
  height: 623px;
  margin-top: 36px;
  position: relative;
}
#content .team .team-recent-match {
  background-color: #ffffff;
  border: 1px solid #e1e5e7;
}
#content .team .team-recent-match a.team-img {
  display: block;
  width: 449px;
  height: 463px;
  padding: 0;
  overflow: hidden;
}
#content .team .team-recent-match .forenotice-match {
  width: 449px;
  height: 157px;
  position: relative;
}
#content .team .team-recent-match .forenotice-match .match-introduce {
  width: 225px;
  height: 157px;
  border: 1px solid #e1e5e7;
  border-left: 0;
}
#content .team .team-recent-match .forenotice-match .match-introduce .match-head {
  margin-top: 4px;
  margin-left: 5px;
}
#content .team .team-recent-match .forenotice-match .match-introduce .match-head span {
  font-family: '宋体';
  font-size: 12px;
  color: #064982;
}
#content .team .team-recent-match .forenotice-match .match-introduce .match-head span.live-logo {
  width: 47px;
  height: 20px;
  padding: 2px 11px;
  margin-right: 4px;
  line-height: 20px;
  font-family: 'Arial';
  font-size: 14px;
  color: #ffffff;
  background-color: #e41a4c;
}
#content .team .team-recent-match .forenotice-match .match-introduce .match-team {
  margin-top: 32px;
  padding-left: 9px;
  padding-right: 12px;
}
#content .team .team-recent-match .forenotice-match .match-introduce .match-team img.opponent-team {
  width: 40px;
  height: 25px;
}
#content .team .team-recent-match .forenotice-match .match-introduce .match-team img.opponent-team.opponent-team-a {
  float: left;
}
#content .team .team-recent-match .forenotice-match .match-introduce .match-team img.opponent-team.opponent-team-b {
  float: right;
}
#content .team .team-recent-match .forenotice-match .match-introduce .match-team .score {
  display: inline-block;
  margin-left: 20px;
}
#content .team .team-recent-match .forenotice-match .match-introduce .match-team .score span {
  font-family: '微软雅黑';
  font-size: 30px;
  color: #fe6d03;
  line-height: 25px;
}
#content .team .team-recent-match .forenotice-match .match-introduce .match-team .match-link {
  text-align: center;
}
#content .team .team-recent-match .forenotice-match .match-introduce .match-team .match-link a {
  text-decoration: none;
  font-family: '宋体';
  font-size: 12px;
  color: #91908f;
}
#content .team .team-recent-match .forenotice-match .match-introduce a.broadcast-tv-link {
  display: block;
  width: 225px;
  height: 29px;
  margin-top: 25px;
  border-top: 1px solid #e1e5e7;
  font-family: '宋体';
  font-size: 12px;
  color: #808384;
  line-height: 29px;
  text-align: center;
  text-decoration: none;
}
#content .team .team-recent-match .forenotice-match .match-introduce.next-match {
  position: absolute;
  right: 0;
  bottom: 0;
}
#content .team .team-recent-match .forenotice-match .match-introduce.next-match .match-head {
  margin-left: 10px;
}
#content .team .team-recent-match .forenotice-match .match-introduce.next-match .match-team {
  margin-top: 35px;
}
#content .team .team-recent-match .forenotice-match .match-introduce.next-match .match-team .score {
  margin-left: 43px;
}
#content .team .team-information {
  width: 682px;
  height: 460px;
  position: absolute;
  top: 1px;
  right: 2px;
}
#content .team .team-information p.team-name {
  font-family: '微软雅黑';
  font-size: 36px;
  color: #064982;
  margin: 0;
  padding: 0;
}
#content .team .team-information a.attention {
  display: block;
  width: 102px;
  height: 30px;
  background: url("../imgs/basketball-icon.png") no-repeat 0 -400px;
  margin-top: 23px;
  margin-left: 2px;
}
#content .team .team-information .team-field {
  position: relative;
  width: 682px;
  height: 329px;
  margin-top: 33px;
  border: 1px solid #e2e6e8;
  background: url("../imgs/basketball-field.png") no-repeat 96% 26%;
}
#content .team .team-information .team-field .field-position {
  position: absolute;
  top: 30px;
  right: 332px;
  width: 124px;
  height: 58px;
  padding-top: 3px;
  padding-left: 2px;
  background-color: #ffffff;
  opacity: 0.5;
  border-radius: 4px;
  border: 1px solid #000000;
}
#content .team .team-information .team-field .field-position img {
  display: inline-block;
}
#content .team .team-information .team-field .field-position p {
  display: inline-block;
  width: 37px;
  vertical-align: top;
  padding-top: 10px;
  margin: 0;
  margin-left: 8px;
  font-family: '宋体';
  font-size: 12px;
  color: #2d2e2e;
  line-height: 18px;
}
#content .team .team-information .team-field .field-position.position2 {
  position: absolute;
  top: 113px;
  left: 164px;
}
#content .team .team-information .team-field .field-position.position3 {
  position: absolute;
  top: 75px;
  right: 170px;
}
#content .team .team-information .team-field .field-position.position4 {
  position: absolute;
  top: 194px;
  right: 299px;
}
#content .team .team-information .team-field .field-position.position5 {
  position: absolute;
  top: 180px;
  right: 117px;
}
#content .team .team-information .team-field .field-position.position6 {
  position: absolute;
  top: 258px;
  left: 12px;
}
#content .team .team-information .teammate {
  width: 682px;
  height: 159px;
  margin-top: -14px;
  margin-left: 3px;
  background-color: #ffffff;
  box-shadow: 0 0 4px;
}
#content .team .team-information .teammate p {
  width: 79px;
  height: 18px;
  font-family: '微软雅黑';
  font-size: 14px;
  line-height: 18px;
  color: #a5b3c7;
  padding-top: 10px;
  margin-left: 13px;
}
#content .team .team-information .teammate p span.green-logo {
  display: inline-block;
  width: 11px;
  height: 15px;
  margin-right: 5px;
  background: url("../imgs/basketball-icon.png") no-repeat -200px -400px;
}
#content .team .team-information .teammate .teammate-list-block {
  position: relative;
  width: 682px;
  height: 97px;
  margin: 0 auto;
}
#content .team .team-information .teammate .teammate-list-block a.left-control {
  display: block;
  position: absolute;
  width: 30px;
  height: 49px;
  bottom: 31px;
  left: 0;
  background: url("../imgs/basketball-icon.png") no-repeat -200px -200px;
}
#content .team .team-information .teammate .teammate-list-block a.left-control.active {
  background: url("../imgs/basketball-icon.png") no-repeat -900px 0;
}
#content .team .team-information .teammate .teammate-list-block .teammate-list-wrap {
  width: 604px;
  height: 97px;
  margin: 0 auto;
  overflow: hidden;
}
#content .team .team-information .teammate .teammate-list-block .teammate-list-wrap ul.teammate-list {
  height: 97px;
  margin: 0;
  padding: 0;
  list-style: none;
}
#content .team .team-information .teammate .teammate-list-block .teammate-list-wrap ul.teammate-list li {
  float: left;
  width: 129px;
  height: 95px;
  margin-right: 22px;
}
#content .team .team-information .teammate .teammate-list-block .teammate-list-wrap ul.teammate-list li a.teammate-item {
  display: block;
  position: relative;
  width: 130px;
  height: 97px;
  text-decoration: none;
  overflow: hidden;
}
#content .team .team-information .teammate .teammate-list-block .teammate-list-wrap ul.teammate-list li a.teammate-item .img {
  width: 130px;
  height: 97px;
}
#content .team .team-information .teammate .teammate-list-block .teammate-list-wrap ul.teammate-list li a.teammate-item span {
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 130px;
  height: 20px;
}
#content .team .team-information .teammate .teammate-list-block .teammate-list-wrap ul.teammate-list li a.teammate-item span.mask {
  background-color: #183b55;
  opacity: 0.5;
  z-index: 2;
}
#content .team .team-information .teammate .teammate-list-block .teammate-list-wrap ul.teammate-list li a.teammate-item span.mask-name {
  font-family: '宋体';
  font-size: 12px;
  color: #ffffff;
  line-height: 20px;
  text-align: center;
  z-index: 10;
}
#content .team .team-information .teammate .teammate-list-block a.right-control {
  display: block;
  position: absolute;
  width: 30px;
  height: 49px;
  bottom: 33px;
  right: 0;
  background: url("../imgs/basketball-icon.png") no-repeat -300px -200px;
}
#content .team .team-information .teammate .teammate-list-block a.right-control.active {
  background: url("../imgs/basketball-icon.png") no-repeat -900px -100px;
}
#content .video-content {
  width: 1178px;
  height: 579px;
  margin-top: 39px;
  background-color: #ffffff;
  box-shadow: 0 0 3px;
}
#content .video-content .video-content-nav {
  width: 1178px;
  height: 38px;
  border-bottom: 1px solid #e1e5e7;
}
#content .video-content .video-content-nav a {
  display: inline-block;
  vertical-align: top;
  padding: 0;
  width: 146px;
  height: 35px;
  margin-right: -14px;
  font-family: '微软雅黑';
  font-size: 14px;
  line-height: 35px;
  text-align: center;
  color: #767879;
}
#content .video-content .video-content-nav a.new-collection {
  width: 96px;
  margin-right: 9px;
}
#content .video-content .video-content-nav a.nav-more {
  width: 40px;
  height: 37px;
  font-family: '宋体';
  font-size: 12px;
  line-height: 37px;
  margin-left: 855px;
}
#content .video-content .video-content-nav span {
  display: inline-block;
  width: 1px;
  height: 39px;
  padding: 0;
  margin: 0;
  background: url("../imgs/basketball-icon.png") no-repeat -800px 0;
}
#content .video-content .video-content-main {
  width: 1178px;
  height: 540px;
}
#content .video-content .video-content-main .video-block {
  position: relative;
  width: 1178px;
  height: 235px;
  padding-top: 29px;
}
#content .video-content .video-content-main .video-block a.left-control {
  display: block;
  position: absolute;
  left: 9px;
  top: 89px;
  width: 22px;
  height: 22px;
  background: url("../imgs/basketball-icon.png") no-repeat -700px -100px;
}
#content .video-content .video-content-main .video-block a.left-control.active {
  background: url("../imgs/basketball-icon.png") no-repeat -500px -100px;
}
#content .video-content .video-content-main .video-block .video-list-wrap {
  width: 1138px;
  height: 233px;
  margin: 0 auto;
  padding-right: 30px;
  margin-right: -29px;
}
#content .video-content .video-content-main .video-block .video-list-wrap ul.video-list {
  height: 233px;
  list-style: none;
  padding: 0;
  margin: 0;
}
#content .video-content .video-content-main .video-block .video-list-wrap ul.video-list li {
  float: left;
  margin-right: 30px;
}
#content .video-content .video-content-main .video-block .video-list-wrap ul.video-list li a.video-link {
  display: block;
  width: 158px;
  height: 142px;
  text-decoration: none;
}
#content .video-content .video-content-main .video-block .video-list-wrap ul.video-list li a.video-title-link {
  display: block;
  width: 158px;
  height: 34px;
  text-decoration: none;
  margin-top: 10px;
  font-family: '宋体';
  font-size: 12px;
  line-height: 18px;
  color: #6b6a6a;
}
#content .video-content .video-content-main .video-block .video-list-wrap ul.video-list li .data-praise-information {
  width: 158px;
  padding-top: 7px;
}
#content .video-content .video-content-main .video-block .video-list-wrap ul.video-list li .data-praise-information span.data {
  display: inline-block;
  width: 60px;
  height: 14px;
  font-family: '宋体';
  font-size: 12px;
  color: #bdbebe;
}
#content .video-content .video-content-main .video-block .video-list-wrap ul.video-list li .data-praise-information a.red-heart {
  display: inline-block;
  width: 25px;
  height: 14px;
  text-decoration: none;
  font-family: '宋体';
  font-size: 12px;
  color: #bdbebe;
  padding-left: 17px;
  margin-left: 46px;
  background: url("../imgs/basketball-icon.png") no-repeat -400px -200px;
}
#content .video-content .video-content-main .video-block a.right-control {
  display: block;
  position: absolute;
  right: 11px;
  top: 89px;
  width: 22px;
  height: 22px;
  background: url("../imgs/basketball-icon.png") no-repeat -600px -100px;
}
#content .video-content .video-content-main .video-block a.right-control.active {
  background: url("../imgs/basketball-icon.png") no-repeat -800px -100px;
}
#content .video-content .video-content-main .video-block-spacebar {
  display: block;
  width: 1178px;
  height: 1px;
  margin-left: 31px;
  background: url("../imgs/basketball-icon.png") repeat-y 0 -300px;
}
#content .video-content .video-content-main .video-block-two {
  margin-top: 25px;
  padding-top: 0px;
}
#content .video-content .video-content-main .video-block-two a.left-control {
  position: absolute;
  left: 9px;
  top: 59px;
}
#content .video-content .video-content-main .video-block-two a.right-control {
  position: absolute;
  right: 11px;
  top: 57px;
}
#footer {
  padding-top: 57px;
  padding-bottom: 92px;
  margin-top: 67px;
  background-color: #ffffff;
}
#footer .footer-wrap {
  width: 625px;
  margin: 0 auto;
}
#footer .footer-wrap p {
  font-family: '宋体';
  font-size: 12px;
  color: #767879;
  text-align: center;
  padding: 0;
  margin: 0;
  margin-bottom: 10px;
}
#footer .footer-wrap p a {
  text-decoration: none;
  color: #767879;
}
#footer .footer-wrap p a.link {
  color: #767879;
}
#footer .footer-wrap p a.hover,
#footer .footer-wrap p afocus {
  color: #0000ee;
}
